.hi {
    background-color: black;
    border: none;
    height: 50px;
    width: auto;
    font-size: larger;
    color: aliceblue;
    margin-right: 30px;
    white-space: nowrap;
    font-size: medium;
}

.main {
    font-family: Roboto, sans-serif;
}

.hello {
    background-color: #ff9d00;
    height: 40px;
    width: 150px;
    font-size: larger;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
}

.hello:hover {
    background-color: aquamarine;
    border: yellow dotted 5px;
}

.second {
    margin: 40px 0;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 120px;
    margin-left: 80px;
    padding: 0;
    display: flex;
}

.text {

    color: #ff9d00;
    font-size: 3rem;
    width: 100vw;
    height: 300px;
    align-items: center;
    display: flex;
}

.video {
    height: 300;
    width: 80%;
}

.thirdb {
    color: white;
    background-color: black;
    border-radius: 9999px;
    cursor: pointer;
    height: 65px;
    width: auto;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-width: 2px;
    border-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.third {
    width: 80%;
    /* background-color: green; */
    justify-content: space-between;
    display: flex;
    height: 100px;
    align-items: center;
    margin-left: 150px;



}

body {
    margin: 0;
}

.fourth {
     background-color: white; 
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-left: 100px;

}

.inp {
    padding: 1.25rem 1.5rem 1.25rem 4rem;
    width: 45%;


}

.catb {
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 15%;
}

.fourthh {
    color: white;
    border-radius: 9999px;
    box-sizing: border-box;
    border: black solid;
    height: 60px;
    background-color: #162438
}

.int {
    color: white;
}

.main2 {
    font-weight: 400;
    font-family: Roboto, sans-serif;

    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 25px;
    position: relative;
    /* width: 360px; */
}

.WWW {
    border: none;
    border-collapse: collapse;

    tr:nth-child(odd) {
        background-color: #d1cfcf;
    }
}

.shif main3 {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
    margin-left: 150px;
}

.th {
    margin-left: 20px;
}

.WWW {
    td:nth-child(1) {
        color: blue;
    }
}

.WWW {
    tr {
        height: 60px;
    }
    tr:hover{
        background-color:  #515357;;
    }
}
.smooth-up {
  position: relative;
  animation: moveUp 2s ease-out forwards;
}

@keyframes moveUp {
  from { top: 100px; }
  to { top: 0; }
}